@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,300&subset=latin,cyrillic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  height: auto;
  background: #fff;
  color: #000;
}

a {
  color: #3194f7;
}

.page-wrapper {
  position: relative;
  min-height: 100%;
}

.main-img {
  position: relative;
  max-width: 375px;
  margin: 50px auto;
  background: #fff;
}

.main-img::after {
  position: absolute;
  bottom: 10px;
  right: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0px 10px 40px #000;
  content: '';
  height: 10px;
  display: block;
}

.main-img img {
  position: relative;
  z-index: 100;
}

.content-box {
  position: relative;
  padding: 50px 0;
}

.content-box__title-box {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.content-box__button-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 115px;
}

.content-box__result-box {
  position: relative;
  background: #e1e1e1;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 5px;
}

.content-box__result-box span {
  display: block;
  font-size: 30px;
}

.content-box__result-box--subscribe {
  text-align: center;
  font-size: 14px;
  margin-bottom: 50px;
}

.tabs-link {
  display: inline-block;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 5px solid #ffd300;
  margin: 0 10px;
  padding: 10px;
  transition: .15s ease;
}

.tabs-link:hover {
  background: #fff5c7;
}

.tabs-link.active {
  background: #ffd300;
}

.form-box {
  position: relative;
  margin-bottom: 2rem;
}

.form-box input, .form-box select {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 12.5px 15px;
  font-size: 20px;
}

.form-box select + .subscribe-select {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.form-box__title-box {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subscribe-select {
  text-align: right;
}

.subscribe-select a {
  color: #44a4f1;
}

.button {
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 5px solid #ffd300;
  margin: 0 10px;
  padding: 10px 30px;
  transition: .15s ease;
  width: auto;
  margin: 30px auto;
  display: block;
  max-width: 200px;
  background: #ffd300;
}

.form-subscribe {
  position: relative;
  font-size: 14px;
  line-height: 30px;
  padding: 0 20px;
  margin-bottom: 2rem;
}

.footer-box {
  background: #161616;
  position: relative;
  color: #fff;
  padding: 40px;
}

.footer-box:before, .footer-box:after {
  content: "";
  display: block;
  display: table;
}

.footer-box:after {
  clear: both;
}

.footer-box__contact {
  float: right;
  font-size: 14px;
  line-height: 30px;
}
